* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
.row-spcl{
	margin-bottom : 20px;
	margim-top: 10px;
	
	border-style: outset;
	box-shadow: 10px 10px 40px deepskyblue;
	border-bottom-right-radius: 60px;
	border-top-left-radius: 60px;
	background-color: black;
	
	font-size: 20px;
	color: deepskyblue;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    
    padding: 0px;
	
    
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
    color: lawngreen;
}

body{
					background: url("background.jpg");
					
					margin-left: auto;
					margin-right: auto;
				
				}
				.div1{
					
					max-width: 80%;
					margin: auto;
				}

				
	.education{
	
		fill:#c0c0c0;
	opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}
.education:hover {
	
   fill:  #00cbcc;
   opacity: 1;
}

.connect{
	fill:#8c8c8c;
	opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}
.connect:hover {
   fill:  #00cbcc;
    opacity: 1;
}

.skills{
	fill:#c0c0c0;
	opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}
.skills:hover {
   fill:  #00cbcc;
    opacity: 1;
}
.about{
	fill: #8c8c8c;
	opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}
.about:hover {
   fill:  #00cbcc;
    opacity: 1;
}

.projects{
	fill:  #8c8c8c;
	opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}
.projects:hover {
   fill:  #00cbcc;
    opacity: 1;
}
.unused{
	fill: #c0c0c0;
    transition: 0.3s ease;
    cursor: pointer;
	opacity: 0.5;
}
#logo{
	float: left;
	margin-left: -100px;
	
}
#logo:hover{
	border-style: hidden;
	
}
#logref{
	transition: 0.5s ease-in;
}
#logoref:hover{
	transform: scale(1.5,1.5);
	
	fill: white;
}
.logo{
	
	transition: 0.3s ease-in;
}
.logo:hover{
	opacity: 1;
	fill: whitesmoke;
}
.img-holder{
	background-color: lightslategrey;
	border-radius: 35px;
}
footer{
	min-width: 100%;
	
	background-color: black;
	color: mediumseagreen;
	margin-bottom: 0px;
	margin-top: 20px;
	height: auto;
}
.foot-h1{
	font-size: 15px;
}
.container{
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.spcl {
    display: none;
	transition: 1s 150s; 
	
}
.spcl-b{
	margin-right: 0;
	color: greenyellow;
}
    
.spcl-b:hover + .spcl {
    display: block;
}

.nav1{
	float: right;
	padding-top: 50px;
    
}
.nav1 a:hover{
    color: #00cbcc;
}
a.a1{
	right: 0%;
	color: gray;
	margin-left: 0px;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;	
}
a.default{
    
    right: 0%;
	color: white;
	margin-left: 0px;
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 27px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	text-decoration: none;
    
}
.row-head{
	margin-bottom: 20px;
}

.row-head > .col-4 > h1{
	text-align: center;
	color: black;
	
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 30px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 27px;
}

.row-head > .col-head{
	padding-top: 3px;
	padding-bottom: 3px;
	border-style: inset;
	box-shadow: white 15px, 15px ;
	border-radius: 50px; 
	
	background-color: lightslategrey;
}
h2{
	height: 25px;
	border-radius: 30px;
	background-color: lightslategrey;
	text-align: center;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 17px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 600;
	line-height: 20px;
	color: black
}
p2{
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
li{
	font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 22px;
}
a > img{
	margin-top: 20px;
	margin-left: 50px;
	opacity: 0.5;
	
}

a > img:hover{
	opacity: 1;
}
